@import url(./ui-theme.css);

:root {
  --monospace: "Nimbus Mono PS", "Courier New", monospace;
  --regular-font: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;

  --neutral-trans: rgba(166, 166, 166, 0.63);

  --green-bg: url("../assets/img/forest__aaron-alvarado-OZSNnAU5RPk-unsplash.jpg");
  --green-prio-high: rgba(44, 91, 36, 0.798);
  --green-prio-medium: rgba(44, 70, 39, 0.679);
  --green-prio-low: rgba(41, 51, 41, 0.721);

  font-family: var(--regular-font);
  --transition-time: 0.5s;
}

body {
  background-image: var(--green-bg);
  background-size: cover;
}

/* || __CONTENT__ */

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* || ___MAIN-BLOCK___ */

.main-block {
  text-align: center;
  margin-top: 20%;
}

.main-block__main-input {
  text-align: center;
  line-height: 3.5rem;
  font-size: 1.5rem;
  width: 400px;
  border: 2px solid rgb(127, 127, 127);
  border-radius: 30px;
  background-color: rgba(229, 229, 229, 0.694);
  box-shadow: 0 0 60px black;
}

/* || ___DECK___ */

.deck {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 20%;
}

.deck__card-frame {
  width: 200px;
  /* height: 120px; */
  border: 5px solid black;
  background-color: var(--neutral-trans);
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-family: var(--monospace);
  border-radius: 10px;
}

.deck__card-dueDate-title {
  margin: 10px 0px 10px 0px;
}

.deck__card-dueDate {
  font-size: 1.2rem;
  margin: 0px;
}

.deck__icon-container {
  display: flex;
  justify-content: space-around;
}

.deck__icon-button {
  all: unset;
  background-color: transparent;
  transition: transform var(--transition-time) ease-in-out;
}

.deck__icon-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* || ___DIALOG___ */

.dialog {
  width: 300px;
  padding: 40px 80px;
  border-radius: 30px;
  background-color: var(--neutral-trans);
  box-shadow: 0 0 60px black;
}

.dialog__title {
  text-align: center;
}

.dialog__label {
  display: block;
}

.dialog__input {
  display: block;
}

.dialog__description-input {
  width: 100%;
}

.dialog__fieldset,
.dialog__input {
  margin-top: 10px;
  margin-bottom: 20px;
}

.dialog__fieldset {
  display: flex;
  justify-content: space-between;
}

.dialog__buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.dialog__button {
  width: 80px;
  height: 30px;
  border: 1px solid black;
  border-radius: 8px;
  font-family: var(--regular-font);
  font-weight: 500;
}
