@import url(./ui-colors-chromabox.css);

:root {
  --monospace: "Nimbus Mono PS", "Courier New", monospace;
  --regular-font: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;

  --neutral-trans: rgba(166, 166, 166, 0.63);

  --green-bg: url("../assets/img/forest__aaron-alvarado-OZSNnAU5RPk-unsplash.jpg");
  --green-prio-high: rgba(44, 91, 36, 0.798);
  --green-prio-medium: rgba(44, 70, 39, 0.679);
  --green-prio-low: rgba(41, 51, 41, 0.721);

  /* UI-COLORS */
  --green-main: var(--seagreen-6);
  --green-deep: var(--seagreen-9);
  --green-accent-trans: var(--seagreen-5-trans50);

  --red-main: var(--sienna-6);
  --red-deep: var(--sienna-9);
  --red-accent-trans: var(--sienna-5-trans50);

  --yellow-main: var(--olivedrab-6);
  --yellow-deep: var(--olivedrab-9);
  --yellow-accent-trans: var(--olivedrab-5-trans50);

  --blue-main: var(--steelblue-6);
  --blue-deep: var(--steelblue-9);
  --blue-accent-trans: var(--steelblue-5-trans50);

  --grey-main: var(--grey-6);
  --grey-main: var(--grey-6);
  --grey-accent-trans: var(--gray-5-trans50);

  font-family: var(--regular-font);
  --transition-time: 0.5s;
}

body {
  background-image: var(--green-bg);
  background-size: cover;
}
/* 
8b    d8    db    88 88b 88          88 88b 88 88""Yb 88   88 888888 
88b  d88   dPYb   88 88Yb88 ________ 88 88Yb88 88__dP 88   88   88   
88YbdP88  dP__Yb  88 88 Y88 """""""" 88 88 Y88 88"""  Y8   8P   88   
88 YY 88 dP""""Yb 88 88  Y8          88 88  Y8 88     `YbodP'   88    
*/

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-block {
  text-align: center;
  /* margin-top: 20%; */
}

.main-block__main-input {
  text-align: center;
  line-height: 3.5rem;
  font-size: 1.5rem;
  width: 400px;
  border: 2px solid rgb(127, 127, 127);
  border-radius: 30px;
  background-color: rgba(229, 229, 229, 0.694);
  box-shadow: 0 0 60px black;
}

.main-block__project-space {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  /* width: 500px; */
  /* font-weight: 600; */
  /* color: white; */

}

.main-block__project-button {
  all: unset;
  font-size: 0.8rem;
  padding: 6px 10px;
  margin: 10px 10px;
  border-radius: 40px;
  border: 3px solid white;
  background-color: var(--red-accent-trans);

  &:hover {
    cursor: pointer;
  }
}






/* 
8888b.  888888  dP""b8 88  dP 
 8I  Yb 88__   dP   `" 88odP  
 8I  dY 88""   Yb      88"Yb  
8888Y"  888888  YboodP 88  Yb  
*/

.deck {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* padding-bottom: 20%; */
}

.deck__card-frame {
  width: 200px;
  /* height: 120px; */
  border: 5px solid black;
  background-color: var(--neutral-trans);
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-family: var(--monospace);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.deck__card-dueDate-title {
  margin: 10px 0px 10px 0px;
}

.deck__card-dueDate {
  font-size: 1.2rem;
  margin: 0px;
}

.deck__icon-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.deck__icon-button {
  all: unset;
  background-color: transparent;
  transition: transform var(--transition-time) ease-in-out;
}

.deck__icon-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* 
8888b.  88    db    88      dP"Yb   dP""b8 
 8I  Yb 88   dPYb   88     dP   Yb dP   `" 
 8I  dY 88  dP__Yb  88  .o Yb   dP Yb  "88 
8888Y"  88 dP""""Yb 88ood8  YbodP   YboodP  */

.dialog {
  width: 300px;
  padding: 40px 80px;
  border-radius: 30px;
  background-color: var(--neutral-trans);
  box-shadow: 0 0 60px black;
}

.dialog__title {
  text-align: center;
}

.dialog__label {
  display: block;
}

.dialog__input {
  display: block;
}

.dialog__description-input {
  width: 100%;
}

.dialog__fieldset,
.dialog__input {
  margin-top: 10px;
  margin-bottom: 20px;
}

.dialog__fieldset {
  display: flex;
  justify-content: space-between;
}

.dialog__buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.dialog__button {
  width: 80px;
  height: 30px;
  border: 1px solid black;
  border-radius: 8px;
  font-family: var(--regular-font);
  font-weight: 500;
  margin: 0;
}


/* .dialog__radio-button-theme {
  width: 30px;
  height: 30px;
} */

.dialog__radio-button-container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid white;
  margin: 0 6px;
  box-shadow: inset 5px 5px 5px  black;
}

.dialog__radio-button {
  margin: 0;
}

.dialog__radio-button-container-green {
  background-color: var(--green-main);
}

.dialog__radio-button-container-grey {
  background-color: var(--grey-main);
}

.dialog__radio-button-container-blue {
  background-color: var(--blue-main);
}

.dialog__radio-button-container-yellow {
  background-color: var(--yellow-main);
}

.dialog__radio-button-container-red {
  background-color: var(--red-main);
}

